@media only screen and (max-width: 768px) {
  #main-nav .social {
    display: none;
  }

  #main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
  }
  #main-nav ul,
  #main-nav .logo {
    justify-self: center;
  }
}
